<div
  class="w-full max-w-lg bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs mx-auto"
>
  <form [formGroup]="register" (ngSubmit)="onSubmit()">
    <h5 class="text-xl font-semibold text-heading mb-6">Sign up to our platform</h5>
    <div class="mb-4">
      <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Your Name</label>
      <input
        formControlName="name"
        type="text"
        id="name"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="Your Name"
      />
      @if (register.get('name')?.invalid && register.get('name')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <svg
            class="w-4 h-4 me-2 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (register.get('name')?.hasError('required')) {
                <li>Name is required</li>
              }
              @if (
                register.get('name')?.hasError('minlength') ||
                register.get('name')?.hasError('maxlength')
              ) {
                <li>Name must be between 3 and 20 characters</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div>
      <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Your email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="example@company.com"
      />
      @if (register.get('email')?.invalid && register.get('email')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <svg
            class="w-4 h-4 me-2 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (register.get('email')?.hasError('required')) {
                <li>Email is required</li>
              }
              @if (register.get('email')?.hasError('email')) {
                <li>Email must be a valid email address</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div>
      <label for="password" class="block mb-2.5 text-sm font-medium text-heading"
        >Your password</label
      >
      <div class="relative">
        <input
          formControlName="password"
          [type]="flaq() ? 'text' : 'password'"
          id="password"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="•••••••••"
        />
        <span
          class="absolute top-1/2 end-4 -translate-y-1/2 cursor-pointer"
          (click)="flaq.set(!flaq())"
        >
          @if (flaq()) {
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 12 12">
              <path
                fill="currentColor"
                d="M1.974 6.659a.5.5 0 0 1-.948-.317c-.01.03 0-.001 0-.001a2 2 0 0 1 .062-.162c.04-.095.099-.226.18-.381c.165-.31.422-.723.801-1.136C2.834 3.827 4.087 3 6 3s3.166.827 3.931 1.662a5.5 5.5 0 0 1 .98 1.517l.046.113c.003.008.013.06.023.11L11 6.5s.084.333-.342.474a.5.5 0 0 1-.632-.314v-.003l-.006-.016l-.031-.078a4.5 4.5 0 0 0-.795-1.226C8.584 4.674 7.587 4 6 4s-2.584.673-3.194 1.338a4.5 4.5 0 0 0-.795 1.225l-.03.078zM4 7a2 2 0 1 1 4 0a2 2 0 0 1-4 0"
              />
            </svg>
          } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
              <path
                fill="currentColor"
                d="m10.12 10.827l4.026 4.027a.5.5 0 0 0 .708-.708l-13-13a.5.5 0 1 0-.708.708l3.23 3.23A6 6 0 0 0 3.2 6.182a6.7 6.7 0 0 0-1.117 1.982c-.021.061-.047.145-.047.145l-.018.062s-.076.497.355.611a.5.5 0 0 0 .611-.355l.001-.003l.008-.025l.035-.109a5.7 5.7 0 0 1 .945-1.674a5 5 0 0 1 1.124-1.014L6.675 7.38a2.5 2.5 0 1 0 3.446 3.446m-3.8-6.628l.854.854Q7.564 5 8 5c2.044 0 3.286.912 4.028 1.817a5.7 5.7 0 0 1 .945 1.674q.025.073.035.109l.008.025v.003l.001.001a.5.5 0 0 0 .966-.257v-.003l-.001-.004l-.004-.013a2 2 0 0 0-.06-.187a6.7 6.7 0 0 0-1.117-1.982C11.905 5.089 10.396 4 8.002 4c-.618 0-1.177.072-1.681.199"
              />
            </svg>
          }
        </span>
      </div>
      @if (register.get('password')?.invalid && register.get('password')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <svg
            class="w-4 h-4 me-2 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (register.get('password')?.hasError('required')) {
                <li>Password is required</li>
              }
              @if (
                register.get('password')?.hasError('minlength') ||
                register.get('password')?.hasError('maxlength')
              ) {
                <li>Password must be between 6 and 20 characters</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div>
      <label for="repassword" class="block mb-2.5 text-sm font-medium text-heading"
        >Confirm password</label
      >
      <div class="relative">
        <input
          formControlName="rePassword"
          [type]="flaq() ? 'text' : 'password'"
          id="repassword"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
          placeholder="•••••••••"
        />
        <span
          class="absolute top-1/2 end-4 -translate-y-1/2 cursor-pointer"
          (click)="flaq.set(!flaq())"
        >
          @if (flaq()) {
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 12 12">
              <path
                fill="currentColor"
                d="M1.974 6.659a.5.5 0 0 1-.948-.317c-.01.03 0-.001 0-.001a2 2 0 0 1 .062-.162c.04-.095.099-.226.18-.381c.165-.31.422-.723.801-1.136C2.834 3.827 4.087 3 6 3s3.166.827 3.931 1.662a5.5 5.5 0 0 1 .98 1.517l.046.113c.003.008.013.06.023.11L11 6.5s.084.333-.342.474a.5.5 0 0 1-.632-.314v-.003l-.006-.016l-.031-.078a4.5 4.5 0 0 0-.795-1.226C8.584 4.674 7.587 4 6 4s-2.584.673-3.194 1.338a4.5 4.5 0 0 0-.795 1.225l-.03.078zM4 7a2 2 0 1 1 4 0a2 2 0 0 1-4 0"
              />
            </svg>
          } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
              <path
                fill="currentColor"
                d="m10.12 10.827l4.026 4.027a.5.5 0 0 0 .708-.708l-13-13a.5.5 0 1 0-.708.708l3.23 3.23A6 6 0 0 0 3.2 6.182a6.7 6.7 0 0 0-1.117 1.982c-.021.061-.047.145-.047.145l-.018.062s-.076.497.355.611a.5.5 0 0 0 .611-.355l.001-.003l.008-.025l.035-.109a5.7 5.7 0 0 1 .945-1.674a5 5 0 0 1 1.124-1.014L6.675 7.38a2.5 2.5 0 1 0 3.446 3.446m-3.8-6.628l.854.854Q7.564 5 8 5c2.044 0 3.286.912 4.028 1.817a5.7 5.7 0 0 1 .945 1.674q.025.073.035.109l.008.025v.003l.001.001a.5.5 0 0 0 .966-.257v-.003l-.001-.004l-.004-.013a2 2 0 0 0-.06-.187a6.7 6.7 0 0 0-1.117-1.982C11.905 5.089 10.396 4 8.002 4c-.618 0-1.177.072-1.681.199"
              />
            </svg>
          }
        </span>
      </div>
      @if (register.getError('mismatch') && register.get('rePassword')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <svg
            class="w-4 h-4 me-2 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (register.get('rePassword')?.hasError('required')) {
                <li>Confirm password is required</li>
              }
              @if (register.hasError('mismatch')) {
                <li>Passwords must match</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div class="mb-6">
      <label for="phone" class="block mb-2.5 text-sm font-medium text-heading">Phone</label>
      <input
        formControlName="phone"
        type="tel"
        id="phone"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="•••••••••"
      />
      @if (register.get('phone')?.invalid && register.get('phone')?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <svg
            class="w-4 h-4 me-2 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (register.get('phone')?.hasError('required')) {
                <li>Phone is required</li>
              }
              @if (register.get('phone')?.hasError('pattern')) {
                <li>Phone must be a Egyptian phone number</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="text-white disabled:bg-gray-700 bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full mb-3"
    >
      Sign up new account
    </button>
    <div class="text-sm font-medium text-body">
      Do you have Account? <a routerLink="/login" class="text-fg-brand hover:underline">Login</a>
    </div>
  </form>
</div>
<hlm-toaster />
