<!-- carousel -->
<div class="hidden sm:block mb-10">
  <h3 class="text-2xl font-bold text-heading mb-4">{{ 'home.categories' | translate }}</h3>
  <owl-carousel-o [options]="customOptions">
    @for (item of categories(); track $index) {
      <ng-template carouselSlide
        ><img
          [src]="item.image"
          [alt]="item.name"
          class="sm:size-70 size-30 object-cover p-2 cursor-pointer rounded-base transition-transform duration-300 hover:scale-105"
          [routerLink]="['/products', item._id]"
      /></ng-template>
    }
  </owl-carousel-o>
</div>
<!-- Static Products -->
<h3 class="text-3xl font-bold text-heading mb-4">{{ 'home.popular_products' | translate }}</h3>
<div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-9">
  @for (item of Products(); track $index) {
    <div
      class="w-full max-w-sm bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs relative group"
    >
      <button
        type="button"
        class="absolute top-8 left-8 z-10 p-2 bg-white/80 backdrop-blur-sm rounded-full shadow-sm text-gray-400 hover:text-red-500 transition-colors duration-300 focus:outline-none"
        (click)="addToWishlist(item._id)"
      >
        @if (wishs().includes(item._id)) {
          <svg
            class="w-5 h-5 text-red-500"
            fill="#ff0000"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
            ></path>
          </svg>
        } @else {
          <svg
            class="w-5 h-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
            ></path>
          </svg>
        }
      </button>

      <a
        [routerLink]="['/details', item.slug, item.id]"
        class="block relative overflow-hidden rounded-base"
      >
        <img
          class="rounded-base mb-6 transform group-hover:scale-105 transition-transform duration-500"
          [src]="item.imageCover"
          [alt]="item.title"
        />
      </a>

      <div>
        <div class="flex items-center space-x-3 mb-6">
          <div class="md:flex items-center space-x-1 rtl:space-x-reverse hidden">
            @for (ite of [1, 2, 3, 4, 5].slice(0, item.ratingsAverage); track $index) {
              <svg class="w-5 h-5 text-fg-yellow" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                />
              </svg>
            }
          </div>
          <div class="flex items-center space-x-1 rtl:space-x-reverse md:hidden">
            <svg class="w-5 h-5 text-fg-yellow" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
              />
            </svg>
          </div>
          <span
            class="bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded-sm"
          >
            {{ item.ratingsAverage }} {{ 'home.out_of' | translate }} 5
          </span>
        </div>

        <a [routerLink]="['/details', item.slug, item.id]">
          <h5
            class="text-xl text-heading font-semibold tracking-tight hover:text-brand transition-colors"
          >
            {{ item.title.split(' ').slice(0, 2).join(' ') }}
          </h5>
        </a>

        <div class="md:flex items-center justify-between mt-6">
          <span class="lg:text-3xl text-[1rem] font-extrabold text-heading">${{ item.price }}</span>
          <button
            (click)="addToCart(item._id)"
            type="button"
            class="inline-flex items-center text-white bg-brand hover:bg-brand-strong border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-sm px-1 lg:px-3 py-2 transition-all"
          >
            <svg
              class="w-4 h-4 me-1.5"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
            >
              <path
                d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
              />
            </svg>
            {{ 'home.add_to_cart' | translate }}
          </button>
        </div>
      </div>
    </div>
  }
  <div
    class="container"
    infiniteScroll
    [infiniteScrollDistance]="100"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
  ></div>
</div>
