<div class="container mx-auto px-4 py-8">
  <ol class="flex items-center w-full text-sm font-medium text-center text-body sm:text-base">
    <li
      [class.text-fg-brand]="step() === 1"
      class="flex md:w-full items-center sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-default after:border-px after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-fg-disabled"
      >
        <svg
          class="w-5 h-5 me-1.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        Email <span class="hidden sm:inline-flex sm:ms-2">Verify</span>
      </span>
    </li>
    <li
      [class.text-fg-brand]="step() === 2"
      class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-default after:border-px after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-fg-disabled"
      >
        <span class="me-2">2</span>
        Code <span class="hidden sm:inline-flex sm:ms-2">Verify</span>
      </span>
    </li>
    <li class="flex items-center" [class.text-fg-brand]="step() === 3">
      <span class="me-2">3</span>
      Set New Password
    </li>
  </ol>
  @if (step() === 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="step1()">
      <div class="my-4 mx-auto max-w-6xl">
        <label for="email" class="block text-sm font-medium text-fg-default mb-1">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="w-full px-3 py-2 border border-default rounded-md focus:outline-none focus:ring-2 focus:ring-fg-brand"
        />
        <button
          type="submit"
          class="text-white bg-brand box-border border border-transparent mt-5 hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          Submit
        </button>
      </div>
    </form>
  }
  @if (step() === 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="step2()">
      <div class="my-4 mx-auto max-w-6xl">
        <label for="code" class="block text-sm font-medium text-fg-default mb-1">Reset Code</label>
        <input
          type="text"
          id="code"
          formControlName="resetCode"
          class="w-full px-3 py-2 border border-default rounded-md focus:outline-none focus:ring-2 focus:ring-fg-brand"
        />
        <button
          type="submit"
          class="text-white bg-brand box-border border border-transparent mt-5 hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          Submit
        </button>
      </div>
    </form>
  }
  @if (step() === 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="step3()">
      <div class="my-4 mx-auto max-w-6xl">
        <div>
          <label for="email" class="block text-sm font-medium text-fg-default mb-1">Email</label>
          <input
            [value]="email()"
            type="email"
            id="email"
            formControlName="email"
            class="w-full px-3 py-2 border border-default rounded-md focus:outline-none focus:ring-2 focus:ring-fg-brand"
          />
        </div>
        <div>
          <label for="newPassword" class="block text-sm font-medium text-fg-default mb-1"
            >New Password</label
          >
          <div class="relative">
            <input
              [value]="email()"
              [type]="flaq() ? 'password' : 'text'"
              id="newPassword"
              formControlName="newPassword"
              class="w-full px-3 py-2 border border-default rounded-md focus:outline-none focus:ring-2 focus:ring-fg-brand"
            />
            <span class="absolute top-1/2 end-4 -translate-y-1/2" (click)="flaq.set(!flaq())">
              @if (!flaq()) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 12 12"
                >
                  <path
                    fill="currentColor"
                    d="M1.974 6.659a.5.5 0 0 1-.948-.317c-.01.03 0-.001 0-.001a2 2 0 0 1 .062-.162c.04-.095.099-.226.18-.381c.165-.31.422-.723.801-1.136C2.834 3.827 4.087 3 6 3s3.166.827 3.931 1.662a5.5 5.5 0 0 1 .98 1.517l.046.113c.003.008.013.06.023.11L11 6.5s.084.333-.342.474a.5.5 0 0 1-.632-.314v-.003l-.006-.016l-.031-.078a4.5 4.5 0 0 0-.795-1.226C8.584 4.674 7.587 4 6 4s-2.584.673-3.194 1.338a4.5 4.5 0 0 0-.795 1.225l-.03.078zM4 7a2 2 0 1 1 4 0a2 2 0 0 1-4 0"
                  />
                </svg>
              } @else {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="m10.12 10.827l4.026 4.027a.5.5 0 0 0 .708-.708l-13-13a.5.5 0 1 0-.708.708l3.23 3.23A6 6 0 0 0 3.2 6.182a6.7 6.7 0 0 0-1.117 1.982c-.021.061-.047.145-.047.145l-.018.062s-.076.497.355.611a.5.5 0 0 0 .611-.355l.001-.003l.008-.025l.035-.109a5.7 5.7 0 0 1 .945-1.674a5 5 0 0 1 1.124-1.014L6.675 7.38a2.5 2.5 0 1 0 3.446 3.446m-3.8-6.628l.854.854Q7.564 5 8 5c2.044 0 3.286.912 4.028 1.817a5.7 5.7 0 0 1 .945 1.674q.025.073.035.109l.008.025v.003l.001.001a.5.5 0 0 0 .966-.257v-.003l-.001-.004l-.004-.013a2 2 0 0 0-.06-.187a6.7 6.7 0 0 0-1.117-1.982C11.905 5.089 10.396 4 8.002 4c-.618 0-1.177.072-1.681.199"
                  />
                </svg>
              }
            </span>
          </div>
        </div>
        <button
          type="submit"
          class="text-white bg-brand box-border border border-transparent mt-5 hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          Submit
        </button>
      </div>
    </form>
  }
</div>
