/* You can add global styles to this file, and also import other style files */
/* Tailwind Imports */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
/* Flowbite Blugins */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
.playwrite {
  font-family: 'Playwrite NZ Basic', cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: oblique;
}
